
* {
	box-sizing: border-box;
	font-family: sans-serif;
}

h1, h2, h3, ul, small, p, span {
	color: #444;
}

h1 {
	max-width: 1000px;
	margin: 60px auto 20px auto;
}

h3 {
	margin-bottom: 5px;
}

th, td {
	padding: 3px;
}

tbody tr:hover {
	background: #eee;
}

body > section {
	max-width: 800px;
	margin: 50px auto;
}

section#check-seed {
	height: 300px;
	border-bottom: 1px #aaa solid;
}

section#check-seed .output {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

section#check-seed .output > div {
	flex: 0 0 50%;
	padding: 20px;
}

section#search-seeds {
	/**/
}

section#search-seeds > div {
	margin-top: 40px;
}

section#search-seeds .results {
	padding: 20px;
	background: #eee;
}

section#search-seeds .results header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

section#search-seeds .results header h4 {
	margin-top: 0;
	flex: 1 0 50%;
}

section#search-seeds .results header a.clear {
	color: #447;
	cursor: pointer;
}

section#search-seeds .results section {
	margin: 0;
	padding: 0;
}

section#search-seeds .results section div h5 {
	margin-bottom: 0;
}

section#search-seeds .results section div p {
	margin: 0;
	padding: 0 0 0 15px;
	font-size: smaller;
}

section#search-seeds .options .status {
	color: #666;
	font-size: smaller;
}





footer {
	max-width: 1000px;
	margin: 200px auto 20px;
}
